[Unit]
Description=Servidor Telnet
#Documentation=
After=network.target

[Service]
Type=idle
ExecStart=/usr/bin/python /bin/telnet-server.py
ExecStop=/usr/bin/kill -TERM $MAINPID

[Install]
WantedBy=multi-user.target
