[Unit]
Description=Servicio que envia un e-mail al apagar el sistema
Documentation=https://github.com/mondelob
#Before=shutdown.target
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/python /bin/enviar_email.py
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=shutdown.target
